
body{
    font-family: 'Bangers', cursive;
    font-family: 'Oranienbaum', serif;
    font-family: 'Original Surfer', cursive;
    color: black;
    font-size: 1rem;
    line-height: 1.6em;
    margin: 0;
}
section{
    background-image: url(imagenes/fondo.png);
}
p{
    margin-bottom: 1.6em;
}
.espacio{
    height: 5px;
    display: none;
}
.espacio1{
    height: 5px;
}
.texto{
    padding: 30px 40px;
    border-radius: 25px;
    background: #dbd6d6;
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
}
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logoimagen{
    width: 90px;
    position: relative;
    margin-top: 5px;
    margin-left: 150px;
}
.logo{
    font-family: 'Bangers', cursive;
    position: relative;
    letter-spacing: 5px;
    font-size: 2.5em;
    margin-right: 400px;
}
.menu-icon{
    display: none;
}
header{
    background: #1c9280;
    color: white;
    position: fixed;
    padding-top: 2rem;
    padding-bottom: 2rem;
    left: 0;
    top: 0;
    right: 0;
}
header a{
    color: white;
    text-decoration: none;
    align-items: center;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
    .navigation ul li {
        display: inline-block;
    }
        .navigation ul li a{
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;
            margin-right: 30px;
        }
        .navigation ul li a:hover {
            background: #db469b;
        }
.nombres{
    font-weight: bold;
    font-size: 0.9em;
}
footer{
    background: #1c9280;
    padding: 4rem 0;
    text-align: center;
    color: white;
}
footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    text-align: center;

}
    footer ul li {
        display: inline-block;
        display: block;
        transition: all 0.5s linear;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        width: 15%;
        margin: 0 auto;
    }
    footer ul li:hover {
        background: #db469b;
    }
main{
    padding-top: 13rem;
    padding-bottom: 5rem;
}
@media only screen and (max-width: 900px) {
    .menu-icon{
        display: block;
        cursor: pointer;
        display: block;
        padding-left: 3px;
        padding-right: 3px;
        padding: 0.5rem;
        transition: all 0.5s linear;
        border-radius: 5px;
        margin-right: 20px;
    }
    .menu-icon:hover{
        background: #db469b;
    }
    .navigation{
        width: 100%;
        margin-top: 1rem;   
    }
    .navigation ul{
        display: none;
    }
    .navigation ul.show{
        display: block;
    }
        .navigation ul li {
            display: block;
        }
            .navigation ul li a{
                display: block;
                padding: 0.5rem 0;
                transition: all 0.5s linear;
                border-radius: 5px;
                margin-left: 73%;
                text-align: center;
            }
            .navigation ul li a:hover {
                background: #db469b;
            }
    main{
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 12rem;
    }
    section{
        padding-top: 50px;
        margin-top: 0;
    }
    .espacio{
        display: block;
    }
    .logoimagen{
        width: 90px;
        margin-left: 15px;
    }
    .logo{
        margin-right: 0;
        font-size: 2rem;
    }
}